body {
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

        background-image: linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    
        background-color:aqua;
      
      }

img {
    width: 400px;

}

h1 {
    font-size: 28px;
    color: rgb(3, 3, 88);
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: 20px;
    color: rgb(3, 3, 88);
}
blockquote {
    font-style: italic;
}

form {
    background-image: linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    background-color:aqua;
}